<br>
<button (click)="add()" mat-raised-button	 matTooltip="New task">add new task</button>

<br>
<h1>My list:</h1>
<mat-toolbar>
        <button  mat-raised-button (click)="showAll()" color="primary">All</button>
        <span class="spacer"></span>
        <button  mat-raised-button (click)="showChoosed('regular')" color="primary">Regular</button>
        <span class="spacer"></span>
        <button  mat-raised-button (click)="showChoosed('important')" color="primary">Important</button>
        <span class="spacer"></span>
        <button  mat-raised-button (click)="showChoosed('very important')" color="primary">Very important</button>    
    </mat-toolbar>
<h2 *ngIf="tasks.length<1">No tasks </h2>
<div class="container">
    <div class="row">
       <app-task-display *ngFor="let task of tasks; let ind = index" 
                         [currentTask]="task" [ind]="ind" (del)="del($event)" (end)="end($event)" (edit)="edit($event)">
       </app-task-display>  
    </div>
</div>

    